[Dokumentacja SQLAlchemy (ORM - Object Relational Mapper)](http://docs.sqlalchemy.org/en/latest/orm/tutorial.html)

[Krótki tutorial](https://auth0.com/blog/sqlalchemy-orm-tutorial-for-python-developers/)

### Nawiązanie połączenia z bazą danych
Funkcja create_engine() tworzy obiekt Engine, który umożliwia połączenie się z bazą danych:
```python
engine = sqlalchemy.create_engine('dialect+driver://username:password@host:port/database')
```
gdzie ([Engine Configuration](http://docs.sqlalchemy.org/en/latest/core/engines.html#database-urls)):
* dialect = {sqlite, mysql, postgresql, oracle, mssql},
* driver = dla MySQL np. {mysqldb, mysqlconnector} - Database API, które ma zostać użyte do płączenia z bazą.

Połączenie następuje po pierwszym wywołaniu engine.connect() lub engine.execute():
```python
# zwracany jest obiekt Connection
connection = engine.connect()
result = connection.execute('sql_statement')
connection.close()
```
```python
# połączenie się automatycznie utworzy i zakończy
result = engine.execute('sql_statement')
```

In [1]:
import sqlalchemy

In [2]:
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:admin@localhost/cardbSqlalchemy')

In [21]:
connection = engine.connect()
result = connection.execute('SELECT DISTINCT c.CarModel FROM Car AS c')
for row in result:
    print(row['CarModel'])
connection.close()

Fiat
Mazda
Renault
Audi
BMW

In [22]:
result = engine.execute('SELECT DISTINCT c.CarModel FROM Car AS c')
for row in result:
    print(row['CarModel'])

Fiat
Mazda
Renault
Audi
BMW

### Mapowanie (Declarative Mapping) - utworzenie tabel
**Definicja klasy** (mapowanej do Table metadata):

```python
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Table, Column, Integer, String, ForeignKey
from sqlalchemy.orm import relationship

Base = declarative_base()

class class_name(Base):
    __tablename__ = table_name
    column1 = Column(column1_name, column1_type, primary_key=True)
    column2 = Column(column2_name, column1_type, ForeignKey(table_name.column_name))
    column3 = Column(column3_name, column3_type)
    ...
    relationship1 = relationship(class2_name)
    ...
```

**Utworzenie schematu bazy danych** (sama baza danych musi już istnieć):
```python
Base.metadata.create_all(engine)
```

**Rodzaje relacji** ([Basic Relationship Patterns](http://docs.sqlalchemy.org/en/latest/orm/basic_relationships.html), [Cascades](http://docs.sqlalchemy.org/en/latest/orm/cascades.html)):
* jeden do wielu (foreign key - tabela dziecko, relationship - referencja do kolekcji w tabeli rodzica)

```python
class Parent(Base):
    __tablename__ = 'parent'
    id = Column(Integer, primary_key=True)
    children = relationship('Child')
    # dwustronna relacja
    # children = relationship("Child", back_populates="parent")

class Child(Base):
    __tablename__ = 'child'
    id = Column(Integer, primary_key=True)
    parent_id = Column(Integer, ForeignKey('parent.id'))
    # dwustronna relacja
    # parent = relationship("Parent", back_populates="children")
```

* wiele do jednego (foreign key - tabela rodzic, relationship - referencja do skalarnego atrybutu w tabeli rodzica)

```python
class Parent(Base):
    __tablename__ = 'parent'
    id = Column(Integer, primary_key=True)
    child_id = Column(Integer, ForeignKey('child.id'))
    child = relationship('Child')
    # dwustronna relacja
    # child = relationship("Child", back_populates="parents")

class Child(Base):
    __tablename__ = 'child'
    id = Column(Integer, primary_key=True)
    # dwustronna relacja
    # parents = relationship("Parent", back_populates="child")
```

* jeden do jednego (dwustronna relacja (back_populates='nazwa_atrybutu') ze skalarnym atrybutem po obu stronach (uselist=False - po stronie "wiele" przy przerabianiu relacji jeden do wielu lub wiele do jednego))

```python
class Parent(Base):
    __tablename__ = 'parent'
    id = Column(Integer, primary_key=True)
    child = relationship('Child', uselist=False, back_populates='parent')

class Child(Base):
    __tablename__ = 'child'
    id = Column(Integer, primary_key=True)
    parent_id = Column(Integer, ForeignKey('parent.id'))
    parent = relationship('Parent', back_populates='child')
```
 
 * wiele do wielu (dodawana jest tablica wiążąca dwie klasy (secondary='nazwa_tablicy'), a klasa zawiera referncje do kolekcji)
 
```python
association_table = Table('association', Base.metadata,
    Column('left_id', Integer, ForeignKey('left.id')),
    Column('right_id', Integer, ForeignKey('right.id'))
)

class Parent(Base):
    __tablename__ = 'left'
    id = Column(Integer, primary_key=True)
    children = relationship('Child', secondary='association')
    # dwustronna relacja
    # children = relationship('Child', secondary=association_table, back_populates='parents')

class Child(Base):
    __tablename__ = 'right'
    id = Column(Integer, primary_key=True)
    # dwustronna relacja
    # parents = relationship('Parent', secondary=association_table, back_populates='children')
```

**Mapowanie dziedziczenia** ([Mapping Class Inheritance Hierarchies](http://docs.sqlalchemy.org/en/latest/orm/inheritance.html)):

* Joined Table Inheritance:
 * każda klasa odpowiada oddzielnej tabeli, które są zależne poprzez ustawienie:
    ```python
    __mapper_args__ = {
        # należy dodać w każdej klasie
        # wartość identyfikująca typ obiektu
        'polymorphic_identity': identifier,
        # należy dodać w klasie nadrzędnej
        # zmienna, która będzie przechowywać wartość, wskazującą na typ obiektu reprezentowanego w wierszu
        # będzie automatycznie uzupełniania podczas tworzenia obiektu
        'polymorphic_on': attribute_name
        }
    ```
 * zapytania o klasę nadrzędną zwracają kombinację obiektów wszystkich klas, ale tylko kolumny klasy nadrzędnej (chociaż do kolumn z klas podrzędnych można się odnieść); aby otrzymać wszystkie kolumny, należy użyć with_polymorphic (zastosowany będzie LEFT JOIN):
    ```python
    from sqlalchemy.orm import with_polymorphic

    # włączenie kolumn klasy podrzędnej subclass_name
    entity = with_polymorphic(base_class_name, subclass_name)
    # włączenie kolumn klas podrzędnych z listy subclass_name_list
    entity = with_polymorphic(base_class_name, subclass_name_list)
    # włączenie kolumn ze wszystkich zmapowanych klas podrzędnych
    entity = with_polymorphic(base_class_name, '*')

    query = session.query(entity)
    ```
 
* Single Table Inheritance:
 * wszystkie klasy odpowiadają jednej tabeli - klasy podrzędne nie definiują __tablename__,
 * zapytania o klasę nadrzędną zwracają kombinację obiektów wszystkich klas, ale tylko kolumny klasy nadrzędnej (chociaż do kolumn z klas podrzędnych można się odnieść); aby otrzymać wszystkie kolumny, należy użyć with_polymorphic tak, jak w przypadku Joined Table Inheritance;
 
* Concrete Table Inheritance:
 * każda klasa odpowiada oddzielnej niezależnej tabeli, więc każda klasa musi zawierać wszystkie atrybuty (też te powtarzające się):
    ```python
    __mapper_args__ = {
            # dodawane w klasach podrzędnych
            'concrete': True
        }
    ```
  * zapytania dla danej klasy zwracają tylko obiekty tej klasy; aby otrzymać wszystkie kolumny, można użyć ConcreteBase (zastosowane będzie UNION ALL):
    ```python
    from sqlalchemy.ext.declarative import ConcreteBase

    # należy dodać zależność w klasie nadrzędnej
    class base_class_name(ConcreteBase, Base):

    # należy dodać w każdej klasie
     __mapper_args__ = {
            'polymorphic_identity': identifier,
            'concrete': True
        }
    ```

In [18]:
from sqlalchemy import Column
from sqlalchemy import String, Integer, Boolean
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base

from sqlalchemy.ext.hybrid import hybrid_property

Base = declarative_base()

In [94]:
class Car(Base):
    __tablename__ = 'Car'
    
    id = Column('Id', Integer, primary_key=True)
    car_model = Column('CarModel', String(45))
    
    parts = relationship('Part', cascade='save-update, merge, delete, delete-orphan')
    
    @hybrid_property
    def is_functional(self):
        return 0 not in set(map(lambda p: p.is_functional, self.parts))

    def __init__(self, car_model):
        self.car_model = car_model

C:\ProgramData\Anaconda3\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Car, and will be replaced in the string-lookup table.
  item.__name__

InvalidRequestError: Table 'Car' is already defined for this MetaData instance.  Specify 'extend_existing=True' to redefine options and columns on an existing Table object.

In [20]:
class Part(Base):
    __tablename__ = 'Part'
    
    id = Column('Id', Integer, primary_key=True)
    is_functional = Column('IsFunctional', Boolean)
    car_id = Column('CarId', Integer, ForeignKey('Car.Id'))
    type = Column('Type', String(45))
        
    __mapper_args__ = {
        # type będzie przechowywać wartość, wskazującą na typ obiektu reprezentowanego w wierszu
        'polymorphic_on': type,
        # wartość przekazywana do Part.type
        'polymorphic_identity': 'part'
    }
    
    def __init__(self, is_functional):
        self.is_functional = is_functional

In [21]:
class Wheel(Part):
    __tablename__ = 'Wheel'
    
    part_id = Column('PartId', Integer, ForeignKey('Part.Id'), primary_key=True)
    wheel_model = Column('WheelModel', String(45))
    
    __mapper_args__ = {
        # wartość przekazywana do Part.type
        'polymorphic_identity': 'wheel',
    }
    
    def __init__(self, wheel_model):
        self.wheel_model = wheel_model

In [22]:
class Engine(Part):
    __tablename__ = 'Engine'
    
    part_id = Column('PartId', Integer, ForeignKey('Part.Id'), primary_key=True)
    engine_model = Column('EngineModel', String(45))
    
    __mapper_args__ = {
        # wartość przekazywana do Part.type
        'polymorphic_identity': 'engine',
    }
    
    def __init__(self, engine_model):
        self.engine_model = engine_model

In [23]:
Base.metadata.create_all(engine)

### Utworzenie sesji
Funkcja sessionmaker() zwraca klasę fabrykę, związaną z konkretnym silnikiem:
```python
# zwraca skonfigurowaną klasę Session
Session = sqlalchemy.orm.sessionmaker(bind=engine)
```
Korzystając z tej klasy, tworzone są sesje:
```python
session = Session()
```
Sesje śledzą zmiany, które można skomitować do bazy (zmiany są przekazywane wszystkie naraz lub w ogóle - dzięki temu gwarantują spójność bazy):
```python
session.commit()
```
Sesję należy zakończyć:
```python
session.close()
```

In [24]:
from sqlalchemy.orm import scoped_session
from sqlalchemy.orm import sessionmaker

In [25]:
Session = scoped_session(sessionmaker(bind=engine))

### Dodanie wierszy
```python
session.add(new_object)
```

In [26]:
import random

In [27]:
session = Session()

In [28]:
car_model_list = ['Renault', 'Audi', 'BMW', 'Mazda', 'Fiat']
wheel_model_list = ['W1', 'W2', 'W3', 'W4', 'W5']
engine_model_list = ['A157', 'B458', 'A86', 'A123', 'C18']
type_part_list = ['', 'wheel', 'engine']

In [29]:
car_total = 20

car_list = [None]
for i in range(car_total):
    new_car = Car(random.choice(car_model_list))
    car_list.append(new_car)
    
    session.add(new_car)

In [30]:
part_total = 100

for i in range(part_total):    
    type_part = random.choice(type_part_list)
    if type_part == 'wheel':
        new_part = Wheel(random.choice(wheel_model_list))
        new_part.is_functional = random.choice((False, True))
    elif type_part == 'engine':
        new_part = Engine(random.choice(engine_model_list))
        new_part.is_functional = random.choice((False, True))
    else:
        new_part = Part(random.choice((False, True)))

    car = random.choice(car_list)
    if car:
        car.parts.append(new_part)
        # nie trzeba jawnie zapisywać obiektów Part, ponieważ relacja z Car ma cascade='save-update'
    else:
        session.add(new_part)

In [31]:
session.commit()

In [32]:
session.close()

### Zapytania
```python
session.query(class_name).filter(condition).limit(no_of_rows)
session.query(class_name).join(class_name, relationship_attribute)
```

In [65]:
session = Session()

In [114]:
# znajdź wszystkie samochody
cars = session.query(Car).all()
for car in cars:
    print('{:<10} {:<10}'.format(car.car_model, car.is_functional))

Renault    1
Fiat       0
Fiat       0
Fiat       0
Fiat       0
Audi       0
Fiat       0
Fiat       0
Audi       1
BMW        0
BMW        0
Audi       0
Fiat       0
Audi       1
Renault    0
Fiat       0
Audi       0
Fiat       0
Mazda      0
Mazda      0

In [115]:
# znajdź wszystkie sprawne samochody
functional_cars = filter(lambda car: car.is_functional == True, session.query(Car).all())
for car in functional_cars:
    print('{:<10} {:<10}'.format(car.car_model, car.is_functional))

Renault    1
Audi       1
Audi       1

In [125]:
# znajdź wszystkie modele samochodów
car_models = session.query(Car.car_model).distinct()
for car in car_models:
    print('{:<10}'.format(car.car_model))

Renault
Fiat
Audi
BMW
Mazda

In [171]:
# znajdź liczbę niesprawnych i sprawnych samochodów danej marki
car_models = session.query(Car.car_model).distinct()
car_dict = {car.car_model: [0, 0] for car in car_models}
for car in session.query(Car).all():
    car_dict[car.car_model][int(car.is_functional)] += 1

for car in car_dict:
    print('{:<10} {:<10} {:<10}'.format(car, *car_dict[car]))

Renault    1          1
Fiat       9          0
Audi       3          2
BMW        2          0
Mazda      2          0

In [159]:
# znajdź samochody, które mają silnik
cars = session.query(Car).join(Part, Car.parts).filter(Part.type == 'engine')
for car in cars:
    print('{:<10} {:<10} {:<10}'.format(car.id, car.car_model, car.is_functional))

17         Audi       0
13         Fiat       0
11         BMW        0
4          Fiat       0
19         Mazda      0
10         BMW        0
20         Mazda      0
14         Audi       1
16         Fiat       0
2          Fiat       0
12         Audi       0
1          Renault    1
6          Audi       0
5          Fiat       0
7          Fiat       0

In [84]:
# znajdź wszystkie silniki typu A
engines = session.query(Engine).filter(Engine.engine_model.ilike('A%')).all()
for engine in engines:
    print('{:<10} {:<10} {:<10}'.format(engine.part_id, engine.engine_model, engine.is_functional))

1          A86        0
7          A123       1
10         A123       0
17         A86        1
18         A157       0
34         A157       1
37         A123       1
50         A123       0
58         A123       1
59         A86        1
62         A86        1
63         A86        0
76         A123       0
78         A123       1
98         A86        0

In [64]:
session.close()

In [ ]:
from sqlalchemy.orm import with_polymorphic