[Dokumentacja SQLAlchemy (ORM - Object Relational Mapper)](http://docs.sqlalchemy.org/en/latest/orm/tutorial.html)

[Krótki tutorial](https://auth0.com/blog/sqlalchemy-orm-tutorial-for-python-developers/)

### Nawiązanie połączenia z bazą danych
Funkcja create_engine() tworzy obiekt Engine, który umożliwia połączenie się z bazą danych:
```python
engine = sqlalchemy.create_engine('dialect+driver://username:password@host:port/database')
```
gdzie ([Engine Configuration](http://docs.sqlalchemy.org/en/latest/core/engines.html#database-urls)):
* dialect = {sqlite, mysql, postgresql, oracle, mssql},
* driver = dla MySQL np. {mysqldb, mysqlconnector} - Database API, które ma zostać użyte do płączenia z bazą.

Połączenie następuje po pierwszym wywołaniu engine.connect() lub engine.execute():
```python
# zwracany jest obiekt Connection
connection = engine.connect()
result = connection.execute('sql_statement')
connection.close()
```
```python
# połączenie się automatycznie utworzy i zakończy
result = engine.execute('sql_statement')
```

In [1]:
import sqlalchemy

In [2]:
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:admin@localhost/cardbSqlalchemy')

In [3]:
# connection = engine.connect()
# result = connection.execute('SELECT DISTINCT c.CarModel FROM Car AS c')
# for row in result:
#     print(row['CarModel'])
# connection.close()

In [4]:
# result = engine.execute('SELECT DISTINCT c.CarModel FROM Car AS c')
# for row in result:
#     print(row['CarModel'])

### Mapowanie (Declarative Mapping) - utworzenie tabel
**Definicja klasy** (mapowanej do Table metadata):

```python
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Table, Column, Integer, String, ForeignKey
from sqlalchemy.orm import relationship

Base = declarative_base()

class class_name(Base):
    __tablename__ = table_name
    column1 = Column(column1_name, column1_type, primary_key=True)
    column2 = Column(column2_name, column1_type, ForeignKey(table2_name.column_name))
    column3 = Column(column3_name, column3_type)
    ...
    relationship1 = relationship(class2_name)
    ...
```

**Utworzenie schematu bazy danych** (sama baza danych musi już istnieć):
```python
Base.metadata.create_all(engine)
```

**Rodzaje relacji** ([Basic Relationship Patterns](http://docs.sqlalchemy.org/en/latest/orm/basic_relationships.html), [Cascades](http://docs.sqlalchemy.org/en/latest/orm/cascades.html)):
* jeden do wielu (foreign key - tabela dziecko, relationship - referencja do kolekcji w tabeli rodzica)

```python
class Parent(Base):
    __tablename__ = 'parent'
    id = Column(Integer, primary_key=True)
    children = relationship('Child')
    # dwustronna relacja
    # children = relationship("Child", back_populates="parent")

class Child(Base):
    __tablename__ = 'child'
    id = Column(Integer, primary_key=True)
    parent_id = Column(Integer, ForeignKey('parent.id'))
    # dwustronna relacja
    # parent = relationship("Parent", back_populates="children")
```

* wiele do jednego (foreign key - tabela rodzic, relationship - referencja do skalarnego atrybutu w tabeli rodzica)

```python
class Parent(Base):
    __tablename__ = 'parent'
    id = Column(Integer, primary_key=True)
    child_id = Column(Integer, ForeignKey('child.id'))
    child = relationship('Child')
    # dwustronna relacja
    # child = relationship("Child", back_populates="parents")

class Child(Base):
    __tablename__ = 'child'
    id = Column(Integer, primary_key=True)
    # dwustronna relacja
    # parents = relationship("Parent", back_populates="child")
```

* jeden do jednego (dwustronna relacja (back_populates='nazwa_atrybutu') ze skalarnym atrybutem po obu stronach (uselist=False - po stronie "wiele" przy przerabianiu relacji jeden do wielu lub wiele do jednego))

```python
class Parent(Base):
    __tablename__ = 'parent'
    id = Column(Integer, primary_key=True)
    child = relationship('Child', uselist=False, back_populates='parent')

class Child(Base):
    __tablename__ = 'child'
    id = Column(Integer, primary_key=True)
    parent_id = Column(Integer, ForeignKey('parent.id'))
    parent = relationship('Parent', back_populates='child')
```
 
 * wiele do wielu (dodawana jest tablica wiążąca dwie klasy (secondary='nazwa_tablicy'), a klasa zawiera referncje do kolekcji)
 
```python
association_table = Table('association', Base.metadata,
    Column('left_id', Integer, ForeignKey('left.id')),
    Column('right_id', Integer, ForeignKey('right.id'))
)

class Parent(Base):
    __tablename__ = 'left'
    id = Column(Integer, primary_key=True)
    children = relationship('Child', secondary='association')
    # dwustronna relacja
    # children = relationship('Child', secondary=association_table, back_populates='parents')

class Child(Base):
    __tablename__ = 'right'
    id = Column(Integer, primary_key=True)
    # dwustronna relacja
    # parents = relationship('Parent', secondary=association_table, back_populates='children')
```

**Mapowanie dziedziczenia** ([Mapping Class Inheritance Hierarchies](http://docs.sqlalchemy.org/en/latest/orm/inheritance.html)):

* Joined Table Inheritance:
 * każda klasa odpowiada oddzielnej tabeli, które są zależne poprzez ustawienie (obiekt z klasy nadrzędnej może odnieść się do atrybutów z klasy podrzędnej i odwrotnie):
    ```python
    __mapper_args__ = {
        # należy dodać w każdej klasie
        # wartość identyfikująca typ obiektu
        'polymorphic_identity': identifier,
        # należy dodać w klasie nadrzędnej
        # zmienna, która będzie przechowywać wartość, wskazującą na typ obiektu reprezentowanego w wierszu
        # będzie automatycznie uzupełniania podczas tworzenia obiektu
        'polymorphic_on': attribute_name
        }
    ```
 * zapytania o klasę nadrzędną zwracają kombinację obiektów wszystkich klas, ale tylko kolumny klasy nadrzędnej; aby otrzymać wszystkie kolumny i móc ich używać w zapytaniu, należy użyć with_polymorphic (zastosowany będzie LEFT JOIN):
    ```python
    from sqlalchemy.orm import with_polymorphic

    # włączenie kolumn klasy podrzędnej subclass_name
    entity = with_polymorphic(base_class_name, subclass_name)
    # włączenie kolumn klas podrzędnych z listy subclass_name_list
    entity = with_polymorphic(base_class_name, subclass_name_list)
    # włączenie kolumn ze wszystkich zmapowanych klas podrzędnych
    entity = with_polymorphic(base_class_name, '*')

    query = session.query(entity)
    ```
 
* Single Table Inheritance:
 * wszystkie klasy odpowiadają jednej tabeli - klasy podrzędne nie definiują \_\_tablename\_\_,
 * zapytania o klasę nadrzędną zwracają kombinację obiektów wszystkich klas, ale tylko kolumny klasy nadrzędnej; aby otrzymać wszystkie kolumny i móc ich używać w zapytaniu, należy użyć with_polymorphic tak, jak w przypadku Joined Table Inheritance;
 
* Concrete Table Inheritance:
 * każda klasa odpowiada oddzielnej niezależnej tabeli, więc każda klasa musi zawierać wszystkie atrybuty (też te powtarzające się):
    ```python
    __mapper_args__ = {
            # dodawane w klasach podrzędnych
            'concrete': True
        }
    ```
  * zapytania dla danej klasy zwracają tylko obiekty tej klasy; aby otrzymać wszystkie obiekty, można użyć ConcreteBase (zastosowane będzie UNION ALL):
    ```python
    from sqlalchemy.ext.declarative import ConcreteBase

    # należy dodać zależność w klasie nadrzędnej
    class base_class_name(ConcreteBase, Base):

    # należy dodać w każdej klasie
     __mapper_args__ = {
            'polymorphic_identity': identifier,
            'concrete': True
        }
    ```

In [5]:
from sqlalchemy import Column
from sqlalchemy import String, Integer, Boolean
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base

from sqlalchemy.ext.hybrid import hybrid_property

Base = declarative_base()

In [6]:
class Car(Base):
    __tablename__ = 'Car'
    
    id = Column('Id', Integer, primary_key=True)
    car_model = Column('CarModel', String(45))
    
    parts = relationship('Part', cascade='save-update, merge, delete, delete-orphan')
    
    @hybrid_property
    def is_functional(self):
        return 0 not in set(map(lambda p: p.is_functional, self.parts))

    def __init__(self, car_model):
        self.car_model = car_model

In [7]:
class Part(Base):
    __tablename__ = 'Part'
    
    id = Column('Id', Integer, primary_key=True)
    is_functional = Column('IsFunctional', Boolean)
    car_id = Column('CarId', Integer, ForeignKey('Car.Id'))
    type = Column('Type', String(45))
        
    __mapper_args__ = {
        # type będzie przechowywać wartość, wskazującą na typ obiektu reprezentowanego w wierszu
        'polymorphic_on': type,
        # wartość przekazywana do Part.type
        'polymorphic_identity': 'part'
    }
    
    def __init__(self, is_functional):
        self.is_functional = is_functional

In [8]:
class Wheel(Part):
    __tablename__ = 'Wheel'
    
    part_id = Column('PartId', Integer, ForeignKey('Part.Id'), primary_key=True)
    wheel_model = Column('WheelModel', String(45))
    
    __mapper_args__ = {
        # wartość przekazywana do Part.type
        'polymorphic_identity': 'wheel',
    }
    
    def __init__(self, wheel_model):
        self.wheel_model = wheel_model

In [9]:
class Engine(Part):
    __tablename__ = 'Engine'
    
    part_id = Column('PartId', Integer, ForeignKey('Part.Id'), primary_key=True)
    engine_model = Column('EngineModel', String(45))
    
    __mapper_args__ = {
        # wartość przekazywana do Part.type
        'polymorphic_identity': 'engine',
    }
    
    def __init__(self, engine_model):
        self.engine_model = engine_model

In [10]:
Base.metadata.create_all(engine)

### Utworzenie sesji
Funkcja sessionmaker() zwraca klasę Session, związaną z konkretnym silnikiem:
```python
# zwraca skonfigurowaną klasę Session
Session = sqlalchemy.orm.sessionmaker(bind=engine)
```
Korzystając z tej klasy, tworzone są sesje:
```python
session = Session()
```
Sesje śledzą zmiany, które można skomitować do bazy (zmiany są przekazywane wszystkie naraz lub w ogóle - dzięki temu gwarantują spójność bazy). Zatem po dodaniu (add()), zaktualizowaniu (update()) lub usunięciu (delete()) wiersza, zmiana jest widoczna w czasie sesji, ale aby ją zachować, należy wykonać:
```python
session.commit()
```
Sesję należy zakończyć:
```python
session.close()
```

In [11]:
from sqlalchemy.orm import scoped_session
from sqlalchemy.orm import sessionmaker

In [12]:
Session = scoped_session(sessionmaker(bind=engine))

### Dodanie wierszy
```python
# pojedynczy wiersz
session.add(new_object)
# wiele wierszy naraz
session.add_all(new_object_list)
```
Zmiana będzie widoczna podczas aktualnej sesji. Aby ją zachować należy wykonać:
```python
session.commit()
```

In [13]:
import random

In [14]:
session = Session()

In [15]:
car_model_list = ['Renault', 'Audi', 'BMW', 'Mazda', 'Fiat']
wheel_model_list = ['W1', 'W2', 'W3', 'W4', 'W5']
engine_model_list = ['A157', 'B458', 'A86', 'A123', 'C18']
type_part_list = ['', 'wheel', 'engine']

In [16]:
car_total = 20

car_list = []
for i in range(car_total):
    new_car = Car(random.choice(car_model_list))
    car_list.append(new_car)
    
session.add_all(car_list)

In [17]:
car_list += [None]
part_total = 100

for i in range(part_total):    
    type_part = random.choice(type_part_list)
    if type_part == 'wheel':
        new_part = Wheel(random.choice(wheel_model_list))
        new_part.is_functional = random.choice((False, True))
    elif type_part == 'engine':
        new_part = Engine(random.choice(engine_model_list))
        new_part.is_functional = random.choice((False, True))
    else:
        new_part = Part(random.choice((False, True)))

    car = random.choice(car_list)
    if car:
        car.parts.append(new_part)
        # nie trzeba jawnie zapisywać obiektów Part, ponieważ relacja z Car ma cascade='save-update'
    else:
        session.add(new_part)

In [18]:
session.commit()

In [19]:
session.close()

### Zapytania

[Query API](http://docs.sqlalchemy.org/en/latest/orm/query.html)

[Common Filter Operators](http://docs.sqlalchemy.org/en/latest/orm/tutorial.html#common-filter-operators)

Metoda query() zwraca obiekt Query, który umożliwia tworzenie zapytań, np.:
```python
# all() zwraca listę rekordów
session.query(class_name).all()
# filter() można powtarzać łańcuchowo, np. filter(cond1).filter(cond2)
session.query(class_name).filter(condition).order_by(class_name.attr_name).limit(no_of_rows)
session.query(class_name).join(class_name, class_name.relationship_attr_name).group_by(class_name.attr_name).having(condition)
query1.union(query2)
```

In [20]:
from sqlalchemy import func
from sqlalchemy.orm import with_polymorphic

In [21]:
def print_res_of_query(result_list, column_name_list, attribute_name_list):
    frame_str = '{:<12} ' * len(column_name_list)
    print(frame_str.format(*column_name_list))
    print('\n'.join([frame_str.format(*[getattr(res, attr, res[i] if hasattr(res, '__iter__') else 'NULL') 
                                        for i, attr in enumerate(attribute_name_list)]) for res in result_list]))

In [22]:
session = Session()

* #### Znajdź wszystkie samochody

In [23]:
all_car_list = session.query(Car).all()

print_res_of_query(all_car_list, [Car.car_model.name, 'FunctionalCar'], ['car_model', 'is_functional'])

CarModel     FunctionalCar
Fiat         0
Fiat         0
BMW          0
Renault      0
Renault      0
Audi         0
BMW          0
Mazda        0
Audi         0
Audi         0
Fiat         0
Mazda        0
Audi         1
Fiat         0
BMW          0
BMW          0
BMW          0
Mazda        0
Renault      0
BMW          0

* #### Znajdź sprawne samochody
Samochód jest sprawny, jeżeli wszystkie jego części są sprawne

In [24]:
functional_car_list = filter(lambda car: car.is_functional == True, session.query(Car).all())

print_res_of_query(functional_car_list, [Car.car_model.name, 'FunctionalCar'], ['car_model', 'is_functional'])

CarModel     FunctionalCar
Audi         1

* #### Znajdź liczbę sprawnych i niesprawnych samochodów danej marki

In [25]:
car_model_list = session.query(Car.car_model).distinct()
car_model_dict = {car_model.car_model: [0, 0] for car_model in car_model_list}
all_car_list = session.query(Car).all()
for car in all_car_list:
    car_model_dict[car.car_model][int(car.is_functional)] += 1

print_res_of_query([(k, *v) for k, v in car_model_dict.items()], 
                   [Car.car_model.name, 'Nonfunct', 'Funct'], 
                   ['car_model', 'Nonfunctional', 'Functional'])

CarModel     Nonfunct     Funct
Fiat         4            0
BMW          6            0
Renault      3            0
Audi         3            1
Mazda        3            0

* #### Znajdź liczbę sprawnych i niesprawnych części dla konkretnych samochodów

In [26]:
count_car_part_list = session.query(Part.car_id, func.count(Part.is_functional), Part.is_functional)\
                             .group_by(Part.car_id, Part.is_functional).having(Part.car_id != None).limit(10)
   
print_res_of_query(count_car_part_list, 
                   [Part.car_id.name, 'NoOfParts', 'FunctionalPart'], 
                   ['car_model', 'NoOfParts', 'is_functional'])

CarId        NoOfParts    FunctionalPart
1            3            0
2            5            0
2            2            1
3            3            0
3            2            1
4            2            0
4            4            1
5            2            0
5            2            1
6            1            0

* #### Znajdź pierwsze 10 części

In [27]:
part_list = session.query(Part).limit(10)

print_res_of_query(part_list, 
                   [Part.id.name, Part.is_functional.name, Part.type.name, Wheel.wheel_model.name, Engine.engine_model.name], 
                   ['id', 'is_functional', 'type', 'wheel_model', 'engine_model'])

Id           IsFunctional Type         WheelModel   EngineModel
1            0            engine       NULL         A86
2            1            wheel        W3           NULL
3            1            part         NULL         NULL
4            0            wheel        W4           NULL
5            1            wheel        W2           NULL
6            0            wheel        W4           NULL
7            0            engine       NULL         A123
8            1            wheel        W4           NULL
9            1            wheel        W4           NULL
10           1            wheel        W1           NULL

* #### Znajdź części, które są kołami typu 1

In [28]:
entity = with_polymorphic(Part, Wheel)
part_list = session.query(entity).filter(Wheel.wheel_model.like('_1')).all()

print_res_of_query(part_list, 
                   [Part.id.name, Part.is_functional.name, Part.type.name, Wheel.wheel_model.name], 
                   ['id', 'is_functional', 'type', 'wheel_model'])

Id           IsFunctional Type         WheelModel
10           1            wheel        W1
18           1            wheel        W1
39           0            wheel        W1
49           1            wheel        W1
83           1            wheel        W1
98           0            wheel        W1

* #### Znajdź wszystkie luźne części
Luźne części to te, które nie są związane z żadnym samochodem

In [29]:
free_part_list = session.query(Part).filter(Part.car_id == None).all()

print_res_of_query(free_part_list,
                   [Part.id.name, Part.is_functional.name, Part.type.name], 
                   ['id', 'is_functional', 'type'])

Id           IsFunctional Type
26           0            wheel
43           0            part
46           0            part

* #### Znajdź liczbę kół, silników i nieokreślonych części

In [30]:
count_part_list = session.query(Part.type, func.count(Part.type).label('count')).group_by(Part.type).order_by('count').all()

print_res_of_query(count_part_list,
                   [Part.type.name, 'NoOfParts'], 
                   ['type', 'NoOfParts'])

Type         NoOfParts
engine       28
part         35
wheel        37

* #### Znajdź dostępne modele samochodów

In [31]:
car_model_list = session.query(Car.car_model).distinct().all()

print_res_of_query(car_model_list, [Car.car_model.name], ['car_model'])

CarModel
Fiat
BMW
Renault
Audi
Mazda

* #### Znajdź samochody, które mają silnik

In [32]:
car_with_engine_list = session.query(Car).join(Part, Car.parts).filter(Part.type == 'engine').order_by(Car.id).all()

print_res_of_query(car_with_engine_list, 
                   [Car.id.name, Car.car_model.name, 'FunctionalCar'], 
                   ['id', 'car_model', 'is_functional'])

Id           CarModel     FunctionalCar
1            Fiat         0
2            Fiat         0
3            BMW          0
8            Mazda        0
9            Audi         0
10           Audi         0
11           Fiat         0
12           Mazda        0
14           Fiat         0
16           BMW          0
17           BMW          0
18           Mazda        0
19           Renault      0

* #### Znajdź wszystkie silniki typu A

In [33]:
# like - rozróżnia wielkość liter, ilike - nie rozróżnia wielkości liter
engine_A_list = session.query(Engine).filter(Engine.engine_model.like('A%')).all()

print_res_of_query(engine_A_list,
                   [Engine.part_id.name, Engine.engine_model.name, Engine.is_functional.name], 
                   ['part_id', 'engine_model', 'is_functional'])

PartId       EngineModel  IsFunctional
1            A86          0
7            A123         0
13           A123         1
17           A123         0
22           A123         0
27           A157         1
44           A157         0
45           A123         1
52           A86          1
62           A157         0
71           A123         1
78           A157         0
87           A86          0
89           A157         0
96           A157         1
97           A157         1
100          A86          0

In [34]:
session.close()

### Zaktualizowanie wierszy
Zaktualizowanie wierszy, pasujących do zapytania:
```python
session.query(class_name).update({class_name.attr_name: new_value, ...})
```
Zmiana będzie widoczna podczas aktualnej sesji. Aby ją zachować należy wykonać:
```python
session.commit()
```

In [35]:
session = Session()

In [36]:
session.query(Car).filter(Car.id == 1).update({Car.car_model: 'Ford'})
car_list = session.query(Car).limit(3)

print_res_of_query(car_list, [Car.car_model.name, 'FunctionalCar'], ['car_model', 'is_functional'])

CarModel     FunctionalCar
Ford         0
Fiat         0
BMW          0

In [37]:
session.commit()

In [38]:
session.close()

### Usunięcie wierszy
Usunięcie wierszy, pasujących do zapytania:
```python
session.query(class_name).delete()
```
Zmiana będzie widoczna podczas aktualnej sesji. Aby ją zachować należy wykonać:
```python
session.commit()
```